.banner {
    display: block;
    margin-left: auto;
    padding-left: 15%;
    padding-right:20%;
}

body {
	background: url("images/bgbm_15.jpg") #aa8439  no-repeat
     fixed  top center;
     margin-top: 50px;
     padding-left: 100px;
     padding-right: 100px;
}
h1 {
    font-family: 'Oswald', sans-serif;
	font-size: 2em;
	color: #6b4700; 
}
h2 {
	font-family: 'Oswald', sans-serif;
	font-size: 1.5em;
	color: #6b4700;
}
.main {
	margin-left: 150px; /* Same width as the sidebar + left position in px */
    padding: 0px 10px;
}
nav.a {
	margin-left: 150px; /* Same width as the sidebar + left position in px */
    padding: 0px 10px;
}

p {
	font-family: 'Ubuntu', sans-serif;
	color: #6b4700;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 30%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
.sidenav {
	height: 100%;
    width: 140px;
    position: fixed;
    z-index: 1;
    top: 20px;
    left: 10px;
    background: #eee;
    overflow-x: hidden;
    padding: 8px 0;
	background-color: #aa8439;
	font-family: 'Oswald', sans-serif;
}
.sidenav a {
    padding: 6px 6px 6px 6px;
    text-decoration: none;
    font-size: 1.5em;
    color: #ffd37c;
    display: block;
}
.sidenav a:hover {
    color: #ffce1e;
}
